#iRedMail version
IREDMAIL_VERSION="0.9.5-1"
#Your settings, change this:
DOMAIN="yourdomain.lab"
# Note: the following password will be used throughout the deployment, including as default pw for users in mail server
PASSWD="Passw0rd!"
# NOTE: You must specify a valid value for DNS1 or your container will NOT build properly
DNS1="x.x.x.x"
DNS2="x.x.x.y"
NTPSERVER="x.x.x.z"
# Possible values for each of the following are true/false
DISABLE_SSL_REDIRECT="true"
DISABLE_SCANNERS="true"
# User accounts to create by default in the DOMAIN specified above. all users on single line, separated by a space. For example:
PRIMARY_DOMAIN_USERS="administrator itop-notification gitlab loginsight projmgr"
# Additional Domains to create. All Domains on a single line, separated by a space. For example:
ADDL_DOMAINS="domain2.lab domain3.lab"
